<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Helloo</h1>
    <p>Edhar Kuch nahi hai Batch pe jao login kark</p>
    <a href="/batches">Chlo Batch pe click karo edhar</a>
  </body>
</html>
